<!DOCTYPE html>
<html>
  <!-- Website designed by Kevin Tan www.ktizzel.com -->
  <head>
    <title>Katie Colford</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Crimson+Text:400|Open+Sans:400' rel='stylesheet' type='text/css'>

    <link href="../css/home.css"rel="stylesheet" media="screen">

  </head>

  <body>

    <a href="../index.html"><h1 class="info" id="name">Katie Colford</h1></a>
    <a href="#"> <h1 class="info" id="about">About</h1> </a>
    <a href="contact.html"> <h1 class="info" id="contact">Contact</h1> </a>

    <p class="about-text"> I’m a recent graduate from Yale where I majored in architecture and designed and built a chair for my senior project. I spent last summer in Japan working at an architecture firm in Tokyo and researching traditional farmhouses. For the past few years, I worked at the Yale University Art Gallery as a guide and at the Yale Center for British Art in the conservation studio, which sparked a love of teaching and museums. l enjoy watercolor painting, biking, and collecting rocks. </p>

  </body>

</html>